<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E74FF99A1EF9BB820023B43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74FF9AE1EF9BB830023B43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74FF9B91EF9BB830023B43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
